@page
@model Veterinaria.App.Presentacion.Pages.AdminHistoriaClinicaModel
@{
}

<h1>@ViewData["tituloDeLaPagina"]</h1>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseCrudHistoriaClinica" aria-expanded="true"
                    aria-controls="collapseCrudHistoriaClinica">
                    Crud Historia Clinica
                </button>
            </h2>
        </div>

        <div id="collapseCrudHistoriaClinica" class="collapse" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">

                <form>

                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="exampleInputNombre1">Fecha</label>
                                    <input type="datetime-local" class="form-control"
                                        id="id-admin-historiaclinica-fecha" aria-describedby="fechaHelp">
                                    @*type="datetime-local" is not supported in Internet Explorer 11 or prior Safari
                                        14.1*@
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Evaluación</label>
                            <textarea class="form-control" id="admin-historiaclinica-evaluacion" rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Diagnóstico</label>
                            <textarea class="form-control" id="admin-historiaclinica-diagnostico" rows="3"></textarea>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Registro de HC a Mascota</button>

                </form>

            </div>
        </div>



        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseListaHistoriaClinica" aria-expanded="true"
                        aria-controls="collapseListaHistoriaClinica">
                        Historial Historia Clinica
                    </button>
                </h2>
            </div>

            <div id="collapseListaHistoriaClinica" class="collapse" aria-labelledby="headingTwo"
                data-parent="#accordionExample">
                <div class="card-body">
                    @*<ul class="list-group">

                        @for (int i = 0; i < 10; i++)
                        {
                        <li class="list-group-item">Historial HC Visita @i</li>
                        }

                        </ul>*@

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>